<!DOCTYPE html>
<html>
<head>
	<title>Warmup Project 2</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='login.css') }}"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js.cookie.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='login.js')}}"></script>
</head>
<body>

	<div id="error"></div>
	<form action="http://130.245.170.88/ttt/" method="post">
		Username:<br>
		<input id="user" type="text" name="username"><br>
		Password:<br>
		<input id="pass" type="text" name="password"><br>
		<input id="submit" type="button" name="login" value="login">

		<div>
			Click <a href="http://130.245.170.88/">here</a> to sign up.
		</div>

		<input type="submit" id="playgame" name="play" value="Play">
	</form>


</body>
</html>
